<section class="section brd-btm" id="profetional">
    <div class="row">
        <div class="clear-mrg">
            
            <h2 class="title-thin text-muted">专业技能</h2>

             <ul>
                <li><p>6年工作经验，一直从事Android移动端开发，良好的Java功底，熟悉OOD、常用设计模式和算法。</p></li>
                <li><p>熟练掌握 Android API、UI常用布局，熟悉自定义View、事件分发机制、数据存储技术、XML/JSON解析、Android动画、蓝牙传输等方面的技术，熟悉Android性能优化。</p></li>
                <li><p>熟练Android网络通信机制，熟悉TCP/IP，HTTP协议，Socket编程。</p></li>
                <li><p>熟悉多线程技术，掌握 synchronized，wait，notify，volatile 以及线程池的使用 。</p></li>
                <li><p>熟悉MVP、MVVM架构，熟悉主流三方框架，比如RxJava、ButterKnife、Retrofit、Fressco、Glide等。具备支付宝、微信支付、Bugly、ShareSDK、高德地图等常用第三方SDK接入经验。</p></li>
                <li><p>熟悉SVN、Git等版本控制工具，有团队协作经验，熟悉Android Studio工具的使用以及调试技巧。</p></li>
                <li><p>了解对称加密以及非对称加密技术，熟悉RSA，AES，3DES，MD5， BASE64的使用。</p> </li>
                <li><p>通过CET4，能阅读基本的英文技术文档。</p></li>
                <li><p>良好的代码阅读能力、编码风格、调试bug和解决问题能力，逻辑思维清晰严谨。</p></li>
                <li><p>持续关注Android的发展，经常逛StackOverflow，GitHub，帮助解决项目问题。</p></li>
             </ul>
                
        </div>
    </div>
</section>