<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>女</dd>

                <dt class="text-upper">出生日期</dt>
                <dd>21 Aug 1993</dd>

                <dt class="text-upper">手机</dt>
                <dd>136 4731 5524</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:393507488@qq.com">yanegem16@gmail.com</a></dd>

                <dt class="text-upper">英语</dt>
                <dd>CET-4</dd>

                <dt class="text-upper">Blog</dt>
                <dd>http://www.jianshu.com/u/4690e4c14265</dd>
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->