<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span><strong class="text-upper">2018.6 - 至今</strong></span>
                    </time>
                    <h3>Android开发工程师</h3>
                    <span class="education-company">第一创业股份股份有限公司 | 网络金融开发部</span>
                    <p>第一创业证券股份有限公司(FIRST CAPITAL)是以固定收益业务为特色的全国性综合类证券公司。</p>
                    <p>负责公司 智富通、开户等产品的迭代开发与维护工作。 </p>
                    <p>参与技术参与技术讨论与分享，积累team的技术储备和开发经验，优化产品性能。</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span><strong class="text-upper">2017.3-2018.5</strong> </span>
                    </time>
                    <h3>Android开发工程师</h3>
                    <span class="education-company">深圳市新国都技术股份有限公司 | 国内应用支持部</span>
                    <p>新国都是一家专业从事金融POS机的设计、研发、生产、销售，并提供电子支付技术服务的企业。</p>
                    <p>负责智能POS N5产品的开发、测试与维护。</p>
                    <p>作为Android开发对接客户，根据需求定制通讯协议，对mpos sdk代码库进行二次开发。</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->