<section class="section" id="personal_project">
    <h2 class="title-thin text-muted">项目经验</h2>
    <div class="pf-wrap">
        <div class="pf-grid">

        <div class="pf-grid-sizer"></div><!-- used for sizing -->

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/project/bg_fcsc_zft.png' | prepend: site.baseurl }}" alt="">
                    </figure>
                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">智富通</h2>
                                <p>一创智富通是A股上市券商第一创业证券(股票代码:002797)官方互联网平台，集股票开户、股票交易、股市行情、基金理财等为一体的智能化手机证券APP。</p>
                                <a href="#pf-popup-1" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="pf-popup-1" class="pf-popup clearfix">
                    <div class="pf-popup-col1">
                        <div class="pf-popup-media" style="background-image: url({{ '/styles/img/project/zft.png' | prepend: site.baseurl }}); background-repeat: no-repeat;background-size: cover;">
                        </div>
                    </div><!-- .pf-popup-col1 -->

                    <div class="pf-popup-col2">
                        <div class="pf-popup-info clear-mrg">
                            <h3 class="text-upper">项目名称：一创智富通  开发工具：AS  版本管理：GitLab  2018.6-至今</h3>
                            <p class="text-muted"><strong>个人职责：主要负责基本库的维护、行情模块的开发、H5的交互、性能优化等。</strong></p>
                            <dl class="dl-horizontal">
                                <dt>下载地址:</dt>
                                <dd><a href="https://www.95358.com/mall/views/app/index.html">智富通</a></dd>
                            </dl>
                            <h4>技术要点：</h4>
                            <p><li>Fragment的灵活运用；涉及到了绘图、自定义控件、与H5页面的交互、定时器即时刷新页面、Listview上拉刷新下拉加载更多技术；以及数据库等数据存储、四大组件的灵活运用、Handler等等技术点。</li></p>
                        </div><!-- .pf-popup-info -->

                    </div><!-- .pf-popup-col2 -->
                </div><!-- .pf-popup -->
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/project/bg_pos.png' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">平安智能POS收银宝</h2>
                                <p>平安收银宝是一款高效、便捷的收银工具，为商户提供一站式收银、管理、运营、增值服务的金融解决方案。</p>
                                <a href="#pf-popup-2" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pf-popup-2" class="pf-popup clearfix">
                    <div class="pf-popup-col2">
                        <div class="pf-popup-media" style="background-image: url({{ '/styles/img/project/bg_pos.png' | prepend: site.baseurl }}); background-repeat: no-repeat;background-size: cover;">
                        </div>
                    </div><!-- .pf-popup-col2 -->

                    <div class="pf-popup-col2">
                        <div class="pf-popup-info clear-mrg">
                            <h3 class="text-upper">项目名称：平安智能POS收银宝  开发工具：AS  版本管理：SVN  2017.4-2018.5</h3>
                            <p class="text-muted"><strong>个人职责：负责行内、跨行转账、扫码消费、扫码撤销、小额免密免签等业务的开发。对接平安新城市项目，负责蓝牙传输协议的定制与开发工作。</strong></p>
                            <h4>技术要点：</h4>
                            <p><li>利用3DES、DES、MD5等加密方式加密数据，组成8583报文和后台进行交互。</li></p>
                            <p><li>使用了蓝牙通讯技术 ，按照协议规定组包与收银台pos进行交互。</li></p>
                            <p><li>使用到了NDK开发技术，利用jni完成软硬件的交互，卡片的读写、机具的打单等操作。</li></p>
                            <p><li>使用了高德地图进行定位，网络通讯使用的 RxJava+Retrofit+OkHttp技术。</li></p>
                            <p><li>自定义串口通讯协议，通过串口给机具写入传输秘钥。</li></p>
                        </div><!-- .pf-popup-info -->

                    </div><!-- .pf-popup-col2 -->
                </div><!-- .pf-popup -->
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/project/bg_zhanxin.png' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">占心</h2>
                                <p>占心是一款以塔罗为主的娱乐型APP，提供有专业的塔罗咨询，全面的星座解读。包括首页展示、问占悬赏模块、塔罗服务大厅、个人主页、搜索服务、消息聊天、下单流程、订单管理、我的个人资料、登录注册等模块，目前已上架。</p>
                                <a href="#zhanxin_detail" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="zhanxin_detail" class="pf-popup clearfix">
                    <div class="pf-popup-col1">
                        <div class="pf-popup-media" style="background-image: url({{ '/styles/img/project/zhanxin.png' | prepend: site.baseurl }}); background-repeat: no-repeat;background-size: cover;">
                        </div>
                    </div><!-- .pf-popup-col1 -->

                    <div class="pf-popup-col2">
                        <div class="pf-popup-info clear-mrg">
                            <h3 class="text-upper">项目名称：占心  开发工具：AS  版本管理：SVN  2015.12-2017.3</h3>
                            <p class="text-muted"><strong>个人职责：核心开发人员，负责首页、发现文章、服务大厅、搜索功能、个人主页、服务详情、我的个人资料、登录注册等模块的开发与后期迭代维护发布工作。</strong></p>
                            <dl class="dl-horizontal">
                                <dt>下载地址:</dt>
                                <dd><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.nova">占心</a></dd>
                            </dl>
                            <h4>技术要点：</h4>
                            <p><li>整个项目用的Xutils3搭建框架，使用到了其中的控件依赖注入、网络请求模块，并对网络请求进行了简单的封装；</li></p>
                            <p><li>网络图片加载使用Fresco技术；</li></p>
                            <p><li>IM模块是由公司内部搭建，基于Socket编程实现；</li></p>
                            <p><li>项目集成支付宝、微信支功能；集成ShareSDK实现分享以及第三方登录；集成Bugly用于管理项目中的奔溃bug；</li></p>
                            <p><li>项目还涉及下拉刷新技术，上拉加载更多技术，数据存储技术，JSON解析技术，自定义控件以实现一些UI效果，比如说带有弹性效果的Scrollview、定时滚动的Viewpager、带有清除效果的Edittext、日历、标签、沉浸式状态栏等等。 </li></p>
                        </div><!-- .pf-popup-info -->

                    </div><!-- .pf-popup-col2 -->
                </div><!-- .pf-popup -->
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/project/bg_secure.png' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">Android安全卫士</h2>
                                <p>一款基于Android平台的安全性软件，用于参加湖南省第十届"蓝狐网络杯"大学生计算机程序设计竞赛的项目，并荣获二等奖。</p>
                                <a href="#secure_detail" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="secure_detail" class="pf-popup clearfix">
                    <div class="pf-popup-col1">
                        <div class="pf-popup-media" style="background-image: url({{ '/styles/img/project/bg_secure.png' | prepend: site.baseurl }}); background-repeat: no-repeat;background-size: cover;">
                        </div>
                    </div><!-- .pf-popup-col1 -->

                    <div class="pf-popup-col2">
                        <div class="pf-popup-info clear-mrg">
                            <h3 class="text-upper">项目名称：Android安全卫士  开发工具：Eclipse  服务器：Tomcat   2014.03 - 2014.09</h3>
                            <p class="text-muted"><strong>个人职责：三人小组开发，主要负责项目整体框架搭建UI设计和核心代码编写，并整合打包项目。</strong></p>
                            <h4>技术要点：</h4>
                            <p><li>整体项目采用MVC框架构建，涉及到的技术点有Android常用API的使用；Activity启动模式的灵活运用；数据存储；ListView的优化和ExpandableListView的使用；系统服务的使用；网络下载；GPS技术；属性动画；XML解析；ViewPager的使用；自定义控件；自定义Toast等等。</li></p>
                        </div><!-- .pf-popup-info -->

                    </div><!-- .pf-popup-col2 -->
                </div><!-- .pf-popup -->
            </div><!-- .pf-grid-item -->
        </div>
    </div>
</section><!-- .section -->
  